@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

:root {
  --cor-principal: #6E859F;
  --cor-secundaria: #284260;
  --cor-destaque: #C92BFC;
  --cor-terciaria: #3d5da7;
  --cor-principal2: #232329;
}

body {
  background-image: linear-gradient(#bda3de 15%,
      #620689 50%,
      #bda3de);
  font-family: 'Chakra Petch', sans-serif;
  color: var(--cor-principal2);
}

.Lead {
  color: var(--cor-terciaria);
  font-weight: 700;
}

h1,
h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}